@import "../variables";

.parameters {
  width: 75%;
  background-color: white;
  box-shadow: 0px 1px 5px rgb(227, 227, 227);
  border-radius: 1rem;
  margin: auto;
  padding: 1rem 2rem 2rem 1rem;
  position: absolute;
  top: calc(100% - 4.9rem);
  left: 50%;
  z-index: 99999;
  transform: translateX(-50%);

  @media (max-width: 1000px) {
    width: 85%;
  }

  @media (max-width: 600px) {
    width: 90%;
    padding: 1rem .5rem;
  }

  h1 {
    color: $clr-very-dark-grey !important;
  }

  .fullscreen {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;

    img {
      width: 1rem;
      height: 1rem;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;


    li {
      width: 30%;
      text-align: start;
      // word-break: break-word;
      padding: 1rem 2rem;
      padding-bottom: 0.3rem;
    }

    li + li {
      border-left: 1px solid grey;
    }

    h3 {
      font-size: 0.75rem;
      font-weight: $fnt-bold;
      letter-spacing: 0.1rem;
      color: $clr-dark-grey;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: $fnt-regular;
      color: $clr-very-dark-grey;
      line-height: 1.75rem;
    }

    @media (max-width: 600px) {
      display: grid;

      li {
        width: 100%;
        text-align: center;
      }

      li + li {
        border: 0;
      }
    }
  }
}

.hidden {
  animation: opacity 0.3s both ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
